@import 'var';


html{
	box-sizing: border-box;
}
*,
*::before,
*::after{
	box-sizing: inherit;
}
a{
	display: inline-block;
	text-decoration: none;
	
}
ul,
li{
	margin: 0;
	padding: 0;
	list-style: none;
}
html, body{
	font-family: 'Arial Bur', sans-serif;
	font-weight: 400;
	font-size: 20px;
	line-height: 35px;
	color: $black;
}
body{
	overflow-x: hidden;
	
}
html{
	position: relative;
}
.container{
	max-width: 1230px;
	margin: 0 auto;
	padding: 0 15px;
}
//---------------------------------Start Header --------------------------
.header{
	height: 100vh;
	width: 100%;	
	position: absolute;
	left: 0;
	top: 0;
	z-index: 5;
}
.header__wrapper{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100px;
	width: 100%;
	background-color: rgba(34,34,34,.8);
	position: relative;
	&::before{
		content: "";
		position: absolute;
		width: calc((100vw - 1200px)/2);
		height: 100px;
		top:0;
		left: calc((1200px - 100vw)/2);
		background-color: rgba(34,34,34,.8);
	}
	&::after{
		content: "";
		position: absolute;
		width: calc((100vw - 1200px)/2);
		height: 100px;
		top:0;
		right: calc((1200px - 100vw)/2);
		background-color: rgba(34,34,34,.8);
	}
}
.header__logo img{
		padding-top: 12px;		
}
.nav__menu{
	li{
		display: inline-block;
		padding-right: 27px;
		a{
			font-size: 16px;
			font-weight: 400;
			color: #fff;
			text-transform: uppercase;
			transition: all 0.3s;
			&:hover{
				color: #999;
			}
		}
	}
}
.menu-burger{
	
	display: none;
	margin-right: 30px;
	cursor: pointer;
	
	&.active::before{
		transform: rotate(45deg);
		top: 9px;
	}
	&.active::after{
		transform: rotate(-45deg);
		bottom: 9px;
	}
	&.active span{
		transform: scale(0);
	}
}

.slogan__wrapper{
	height: calc(100vh - 100px);
	
	display: flex;
	flex-direction: column;
	margin-left: 230px;
	justify-content: center;
	align-items: flex-start;
	color: #fff;
}
.slogan__title{	
	max-width: 950px;
	font-size: 60px;
	text-shadow: 1px 1px 2px #000;
	line-height: 75px;
	font-weight: 700;
	margin-bottom: 35px;
	position: relative;
	&::before{
		content: "";
		position: absolute;
		width: 100px;
		height: 5px;
		top: -30px;
		left: 0;
		background-color: $orange;
	}
}
.slogan__subtitle{
	font-size: 30px;
	line-height: 35px;
	max-width: 710px;
	margin-bottom: 58px;
}
.order__link a{
	padding: 27px 75px;
	background-color: $orange;
	border: none;
	border-radius: 39px;
	cursor: pointer;	
	color: #fff;	
	&:hover{
		text-decoration: underline;
	}
}

//---------------------------------End Header --------------------------
//---------------------------------Start Slider --------------------------

.slider{
	position: relative;

}
.slider__item{
	width: 100%;
	height: 100vh;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}
.slider__preview{
 	position: absolute;
 	width: 200px;
 	top: 150px;
 	left: 50px;
}
.slider__nav-item{
	width: 200px;
	height: 130px;
	margin-bottom: 30px;
	border: 2px solid #fff;
}
.slick-prev.slick-arrow, 
.slick-next.slick-arrow{
	font-size: 0;
	width: 60px;
	height: 60px;
	border: 8px solid #7b7b7c;
	border-radius: 50%;
	background-color: #fff;
	position: absolute;
	outline: none;
	cursor: pointer;
}
.slick-prev.slick-arrow{
	background-image: url(../images/slider/arrow-prev.png);
	background-repeat: no-repeat;
	background-position: center center;	
	top: -28px;
    left: 72px;
    z-index: 6;
}
.slick-next.slick-arrow{
	background-image: url(../images/slider/arrow-next.png);
	background-repeat: no-repeat;
	background-position: center center;	
	bottom: 5px;
    left: 68px;
    z-index: 6;
}

//---------------------------------End Slider --------------------------
//---------------------------------Start Stocks --------------------------
.stocks__inner{
	display: flex;
	justify-content: space-between;
	color: #fff;
}
.stocks__first,
.stocks__second{
	width: 50%;
	padding: 120px 20px 0 160px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.stocks__first{
	background-color: $orange;
}
.stocks__second{
	background-color: $black;
}
.stocks__title{
	font-size: 46px;
	line-height: 65px;
	text-transform: uppercase;
	font-weight: 700;
	max-width: 500px;
	position: relative;
	&::before{
		content: "";
		position: absolute;
		width: 100px;
		height: 5px;
		top: -30px;
		left: 0;
		background-color: #fff;
	}
}
.stocks__desc{
	line-height: 35px;
	//margin-bottom: 80px;
}
.stocks__first-link,
.stocks__second-link{
	margin: 50px 0 65px;

	a{
		font-weight: 700;
	}
}
.stocks__first-link a{
	color: $orange;
	background-color: #fff;
	
}
//---------------------------------End Stocks --------------------------
//---------------------------------Start About --------------------------
.about{
	margin-top: 100px;
	margin-bottom: 160px;
}
.about__inner{
	display: flex;
	justify-content: center;
}
.block-title{
	font-size: 50px;
	line-height: 75px;
	font-weight: 700;
	color: $black;
	margin-top: 110px;
	margin-bottom: 50px;
	position: relative;
	&::before{
		content: "";
		position: absolute;
		width: 100px;
		height: 5px;
		top: -30px;
		left: 0;
		background-color: $orange;
	}
}
.block__desc{
	max-width: 420px;
	margin-bottom: 75px;
}
.about-image{
	position: relative;
	margin-left: 30px;
	img{
		width: 450px;

	}
	&::after{
		content: "";
		position: absolute;
		width: 190px;
		height: 180px;
		top: -30px;
    	right: -30px;
		background-image: url(../images/content/top-right-corner.png);
	}
	&::before{
		content: "";
		position: absolute;
		width: 190px;
		height: 180px;
		bottom: -20px;
    	right: -30px;
		background-image: url(../images/content/bottom-right-corner.png);
	}
}
//---------------------------------End About --------------------------
//---------------------------------Start Gallery --------------------------
.gallery{
	margin-bottom: 110px;
}
.gallery__wrapper{
	text-align: center;
}
.section-title{
	font-size: 60px;
	line-height: 75px;
	font-weight: 700;
	display: inline-block;
	position: relative;
	margin: 0;
	&::before{
		content: "";
		position: absolute;
		width: 100px;
		height: 5px;
		top: -25px;
    	left: 44px;
		right: 0;
		background-color: $orange;
	}
}
.section-desc{
	margin-bottom: 60px;
}
.gallery__inner{
	
}
.gallery__row{
	display: flex;
	justify-content: space-between;
	.gallery__item{
		width: calc(33.33%);
		min-height: 505px;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
		position: relative;
	}
	.gallery__item-info{
		position: absolute;
		bottom: 0;
		left: 20px;
		text-align: left;
		color: #fff;
		height: 170px;
		p{
			text-shadow: 1px 1px 2px #000;
			line-height: 22px;
		}
	}

	h3{
		font-size: 40px;
		color: #fff;
		font-weight: 700;
		text-shadow: 1px 1px 2px #000;
	}
}

//---------------------------------End Gallery --------------------------
//---------------------------------Start Price --------------------------

.price{
	text-align: center;
	margin-bottom: 150px;
	position: relative;
	h3.section-title::before{
		left: 147px;
	}
}
.price__inner{
	display: flex;
	justify-content: space-between;
}
.price__info{
	width: 50%;
	text-align: left;
}
.price__image{
	width: 50%;
	position: relative;
	
	&::after{
		content: "";
		position: absolute;
		width: 190px;
		height: 180px;
		top: -35px;
    	left: 50px;
		background-image: url(../images/content/top-left-corner.png);
	}
	&::before{
		content: "";
		position: absolute;
		width: 190px;
		height: 180px;
		bottom: -20px;
    	left: 50px;
		background-image: url(../images/content/bottom-left-corner.png);
	}
}
.overlay{
	display: none;
	height: auto;
	left: -15%;
	position: absolute;
	top: -50%;
	width: auto;
	z-index: 999;

}
.overlay .overlay_container{
	display: table-cell;
	vertical-align: middle;

}
.overlay_container img{
	background-color: #118f40;
	padding: 10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}
.overlay:target {
	display: table;
}
//---------------------------------End Price --------------------------
//---------------------------------Start Order --------------------------
.order{
	text-align: center;
	margin-bottom: 45px;
	.form{
		max-width: 700px;
	}
	.section-title::before{
		left: 275px;
	}
}
.order__wrapper .section-title{
	margin-bottom: 50px;
}
.form-row{
	display: flex;
	justify-content: center;
	margin-bottom: 30px;
	.form-row__label{
		width: 200px;
		text-align: left;
		font-size: 26px;
		font-weight: 400;
		color: #585757;
		span{
			color: red;
		}
	}
	input, textarea{
		width: 500px;
		border: 1px solid #585757;
		padding: 10px 20px;
	}
	textarea{
		min-height: 150px;
	}
}
.order__button{
	padding: 27px 75px;
	background-color: $orange;
	border: none;
	border-radius: 39px;
	cursor: pointer;	
	color: #fff;	
	&:hover{
		text-decoration: underline;
	}
}
//---------------------------------End Order --------------------------
//---------------------------------Start Footer --------------------------

.footer{
	background-color: $black;
	padding: 50px 50px 50px 50px;
	color: #fff;	
}
.footer__wrapper{
	display: flex;
	justify-content: space-between;
}
.footer__logo,
.footer__address{
	margin-bottom: 30px;
}
.footer__phone li{
	position: relative;
	padding-left: 30px;
	color: #fff;
	&::before{
		position: absolute;
		content: "";
		background-image: url(../images/icon/phone.svg);
		width: 22px;
		height: 28px;
		top: 3px;
		left: 0;

	}
}
.footer__right{
	display: flex;
	align-items:flex-end;
	p{
		margin: 0;
	}
	a{
		color: #fff;
		transition: all 0.3s;
			&:hover{
				color: #999;
			}
	}
}
//---------------------------------End Footer --------------------------




@import 'media';